@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>¡Empezando con nuestra granja!</h2>
        <p>Desde acá podrás administrar todos los animales de tu granja, agrega animales, corrales y relaciones.</p>
        <p> @Html.ActionLink("Administrar animales", "ObservarAnimales", "Animales", new { area = "" }, new { @class = "btn btn-default" })</p>
        <p> @Html.ActionLink("Administrar corrales", "ObservarCorrales", "Corrales", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
</div>