<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>¡Empezando con nuestra granja!</h2>
        <p>Desde acá podrás administrar todos los animales de tu granja, agrega animales, corrales y relaciones.</p>
        <p> @Html.ActionLink("Administrar", "ObservarAnimales", "Animales", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
</div>
